.difficulty {
  display: flex;
  justify-content: space-between;
  margin-bottom: 68px;
  margin-top: 40px;

  &-screen {
    text-align: center;
    width: 100%;
    max-width: 480px;
    min-height: 459px;
    background-color: var(--popup-background-color);
    border-radius: var(--border-radius);
    padding: 50px 70px;
  }

  &__btn {
    width: 98px;
    height: 98px;
    font-size: 64px;
    line-height: 72px;
    background-color: #fff;
    color: #0080c1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    }

    &_selected {
      transform: scale(1.1);
    }
  }
}
