@font-face {
  font-family: StratosSkyeng;
  src: url('../fonts/stratosskyengweb-regular.woff2') format('woff2'),
    url('../fonts/stratosskyengweb-regular.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background: var(--main-color);
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: StratosSkyeng, sans-serif;
}

.title {
  color: var(--main-color);
  font-size: 40px;
  line-height: 48px;
  font-weight: 400;
}

.btn {
  width: 246px;
  height: 50px;
  font-size: 24px;
  line-height: 32px;
  border: 0;
  background-color: var(--btn-background-color);
  border-radius: var(--border-radius);
  color: var(--btn-text-color);
  font-family: StratosSkyeng, sans-serif;
}

.hidden {
  display: none;
}
