:root {
  --main-color: #004980;
  --popup-background-color: #C2F5FF;
  --btn-background-color: #7AC100;
  --btn-text-color: #fff;
  --border-radius: 12px;
}

@font-face {
  font-family: "stratosskyeng";
  src: url("./fonts/stratosskyengweb-regular.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background: var(--main-color);
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "stratosskyeng", serif;
}

.title {
  color: var(--main-color);
  font-size: 40px;
  line-height: 48px;
  font-weight: 400;
}

.btn {
  width: 246px;
  height: 50px;
  font-size: 24px;
  line-height: 32px;
  border: 0;
  background-color: var(--btn-background-color);
  border-radius: var(--border-radius);
  color: var(--btn-text-color);
}

.hidden {
  display: none;
}

.difficulty {
  display: flex;
  justify-content: space-between;
  margin-bottom: 68px;
  margin-top: 40px;
}
.difficulty-screen {
  text-align: center;
  width: 480px;
  min-height: 459px;
  background-color: var(--popup-background-color);
  border-radius: var(--border-radius);
  padding: 50px 70px;
}
.difficulty__btn {
  width: 98px;
  height: 98px;
  font-size: 64px;
  line-height: 72px;
  background-color: #fff;
  color: #0080C1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 0.3s;
}
.difficulty__btn:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.difficulty__btn_selected {
  transform: scale(1.1);
}